<%= form_for(comment, url: public_post_comments_path(post),data: { remote: true }) do |f| %>
  <div class="form-group">
    <%= f.text_area :content,class:"text",placeholder: "コメントをここに" %> 
    <div class="text-center">
      <%= f.submit "送信する" ,class:"btn btn-secondary"%>
    </div>
  </div>
<% end %>