<div class="nested-fields well well-compact">
  <div class="row">
    <div class="col-12">
      <div class="form-group text-center">
        <%= f.attachment_field :image, placeholder: "Photo" %>
        <%= link_to_remove_association 'Delete Photo', f ,class:"btn btn-danger" %>
      </div>
    </div>
  </div>
</div>