
.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

.form-group {
  width: 100%;
  margin: 10px;
}

.container {
  width: 100px;
}

.col-md-8{
  height: 100%;
}


.col-md-4 {
  height: 100%;
}

// post_index
#posts {
  float: left;
  position: relative;
  display: block;
  width: 300px;
  margin: 10px auto;
  color: #ffffff;
  border: 1px solid #000000;
  overflow: hidden;
  

  .post_image {
    position: relative;
    height: 200px;
  }

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .post_text {
    height: 25%;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding-bottom: 28px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    transition: 0.1s;
    transform: translateY(100%);
  }

  &:hover {
    .hide {
      transform: translateY(0);
    }
    .post_text {
      top: 50%;
      color: #ffffff;
    }
  }
}

.images {
  background-image: url(image_id);
  }

.form-group {
  width: 100%;
}

.text {
  width: 100%;
  height: 100px;
}
// post.show
.show_map {
  width: 100%;
  height: 500px;
}

.post-show {
  padding: 20px;
}

.post-comment{
  padding: 10px;
  overflow-wrap: break-word;
}

.form-text{
  padding: 20px;
}