// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 会員詳細画面
.user-show {
  padding: 10px;
  width: 100%;
}

.user-introduction{
  padding: 10px;
  height: 100%;
  overflow-wrap: break-word;
}

.profile {
  padding: 20px;
}

.nav-tabs {
  border-bottom:none;
}

.nav-tabs .nav-link.active {
  background-color:#e2e2e2;
  border-bottom:#e2e2e2;
  font-weight: bold;
}

.tab-pane.active .tab-pane-header {
  padding:2rem;
  background-color:#e2e2e2;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  margin-bottom:1rem;
}

.tab-pane:first-child .tab-pane-header {
  border-top-left-radius: 0;
}

// post_index
#posts {
  float: left;
  position: relative;
  display: block;
  width: 25%;
  margin: 10px auto;
  color: #ffffff;
  border: 1px solid #a8aabc;
  overflow: hidden;

  .post_image {
    position: relative;
    height: 200px;
  }

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .post_text {
    height: 25%;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding-bottom: 28px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    transition: 0.5s;
    transform: translateY(100%);
  }

  &:hover {
    .hide {
      transform: translateY(0);
    }
    .post_text {
      top: 50%;
      color: #ffffff;
    }
  }
}

// edit画面
.edit {
  padding: 20px;
  font-size: 20px;
}

.confile {
  padding: 20px;
  font-size: 20px;
}

.btn {
  padding-top: 20px;
  padding-bottom: 20px;
}