<% if @comments %>
  <% comments.each do |comment| %>
    <div class="row">
      <div class="text-left">
        <%= link_to public_user_path(comment.user.id) do %>
          <%= attachment_image_tag comment.user.profile_image, :profile_image, size: "50x50", fallback: "no_image.jpg" %>
        <% end %>
      </div>
      <div class="text-rigth">
        <%= comment.content %>
      </div>
    </div>
  <% end %>
<% end %>