<div class="about-back">
  <div class="content">
    <p class="about-h1">PhotoPlaceは<br>位置情報を利用した風景投稿サイトです。</p>
    <p class="about-p">日本を訪れた外国人観光客や<br>気軽に撮影スポットを探している人(風景を撮ることが好きな人）が<br>簡単に写真の風景・位置情報を検索できるようにしております。</p>
    <p class="about-p">今、あなたの近くにある撮影スポットを探してみませんか？</p>
    <p class="about-p">MAPの画面で全ての投稿情報が一覧で確認できます！<br>自分の知らなかった撮影スポットがきっと見つかるはずです。</p>
  </div>
</div>