<div class="homes-back"></div>
<div class="content">
  <h1 class="homes-h1">ようこそ</h1>
    <% if flash[:notice] %>
      <h4 class="alert alert-success text-center"><%= flash[:notice] %></h4>
    <% end %>
  <%= link_to "log in", new_user_session_path %>
  <%= link_to "sign_up", new_user_registration_path %>
</div>