// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 会員詳細画面
.user-show {
  padding: 10px;
}

.profile {
  // padding: 20px;
}


// edit画面
.edit {
  padding-top: 20px;
  padding-bottom: 20px; 
  font-size: 20px;

}

.file_name{
  @media screen { #filename { display: none; } }
}

.text {
  width: 100px;
}



.user-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 120px;
  height: 60px;
}