<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :風景画像 %>
    <%= f.attachment_field :image, placeholder: "風景画像" %>
    <%= link_to_remove_association '写真を削除', f %>
  </div>
</div>